.env
models/*.pkl
__pycache__/
*.pyc
# =========================
# ENV
# =========================

.env

# =========================
# PYTHON CACHE
# =========================

__pycache__/
*.pyc

# =========================
# MODELS
# =========================

models/*.pkl

# =========================
# LOGS
# =========================

logs/

# =========================
# DOCKER
# =========================

*.log